* p,b {
    color: black
}
img {
    width: 300px;
    height: 150px;
    margin: 10px;
}
header nav img {
    width: 150px;
    height: 150px;
    float: left;
}
body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.buffer {
    height: 50px;
  }
footer{
    clear: both;
    text-align: center;
    color: white;
}
.card-title {
    color: tomato;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.container_testing:hover {
    transform: scale(1.01);
}

.box {
  line-height: 100px;
  background: #fff;
}

.box:after {
  background: linear-gradient(to right,#039d03 35%, #e84f47 30%, #e84f47 50%, #ffcd02 75%, #0736e0 25%);
  position: absolute;
  content: '';
  height: 4px;
  right: 0;
  left: 0;
  top: 0;
}