* p,b {
    color: black
}

.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}

img {
    width: 300px;
    height: 150px;
    margin: 10px;
}
header nav img {
    width: 150px;
    height: 150px;
    float: left;
}

body {
  background: radial-gradient(at bottom right, rgb(231, 231, 231), rgb(231, 231, 231));
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.buffer {
    height: 50px;
  }
footer{
    clear: both;
    text-align: center;
    color: white;
}
.card-title {
    color: tomato;
}

.container_slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    transform: scale(1.1);
  }
.container_testing:hover {
    transform: scale(1.1);
}

/* .box {
  line-height: 100px;
  background: #fff;
} */

.box:after {
  background: linear-gradient(to right,#039d03 35%, #e84f47 30%, #e84f47 50%, #ffcd02 75%, #0736e0 25%);
  position: absolute;
  content: '';
  height: 4px;
  right: 0;
  left: 0;
  top: 0;
}

.container {
  /* position: absolute; */
  height: 300px;
  width: 800px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
}

.card {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(217, 0, 0);
  background: linear-gradient(
    90deg,
    rgb(4, 171, 18) 0%,
    rgb(191, 27, 12) 65%,
    rgb(39, 7, 220) 100%
  );
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: rgb(151, 253, 167);
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill:none ;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}


.box:hover ~ .box {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}






















